numpy == 1.21.4  (for arrays)
pickle-mixin == 1.0.2  (use for saving and loading trainet models)
streamlit == 1.2.0    (for ui web)
streamlit-option-menu == 0.3.2 (for create a navigation sidebar)
scikit-learn == 1.0.1  (for building models)